.aboutMain {
    width: 70%;
}

.aboutTitle {
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
    font-weight: bold;
}

.aboutQuote {
    font-style: italic;
    font-size: 28px;
    text-align: center;
    color: #922D2D;
    padding-bottom: 20px;
}

.aboutContent {
    font-size: 24px;
    font-weight: lighter;
}

.aboutIntro, .aboutQuality, .aboutMeat, .aboutShakes, .aboutBuns {
    padding-bottom: 20px;
}

.bold {
    font-weight: bold;
}

.aboutImage {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}