.faqMain {
    width: 70%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.faqTitle {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 40px;
    font-weight: bold;
}

.faqContent {
    font-size: 20px;
}

.faqExpensiveTitle {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}

.faqExpensiveContent {
    padding: 10px 0 0 20px;
    font-weight: normal;
    font-size: 24px;
}

.faqBeefTitle {
    font-weight: bold;
    font-size: 30px;
}

.faqBeefContent {
    padding: 10px 0 0 20px;
    font-weight: normal;
    font-size: 24px;
}