html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.mainContainer {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleBar {
    padding-bottom: 40px;
    width: 80%;
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    width: 60%;
}

.logoImage {
    display: flex;
    align-items: center;
    height: 150px;
    width: 70%;
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    color: #922D2D;
    text-align: center;
    font-size: 24px;
}

.navBar {
    margin-bottom: 40px;
    padding: 10px 0;
    width: 80%;
    background-color: #922D2D;
}

.navBar ul li a:hover{
    background-color: #BC5449;
    color: white;
    text-decoration: none;
}

.navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
    list-style-type: none;
}

.navAnchor {
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.footer {
    width: 80%;
    margin: 40px 0;
    padding: 20px 0;
    background-color: #922D2D;
    display: flex;
    justify-content: center;
}

.footSubscribe {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.footSubscribe:hover{
    background-color: #BC5449;
    color: white;
    text-decoration: none;
}

.icons {
    height: 40px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.facebook {
    color: white;
}

.twitter {
    color: white;
}