html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.mainContainer {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleBar {
    padding-bottom: 40px;
    width: 80%;
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
}

.logoImage {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #922D2D;
    text-align: center;
    font-size: 32px;
}

.navBar {
    margin-bottom: 40px;
    padding: 10px 0;
    width: 90%;
    background-color: #922D2D;
}

.navBar ul li a:hover{
    background-color: #BC5449;
    color: white;
    text-decoration: none;
}

.navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
    list-style-type: none;
}

.navAnchor {
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.footer {
    width: 90%;
    margin: 40px 0;
    padding: 20px 0;
    background-color: #922D2D;
    display: flex;
    justify-content: center;
}

.iconsTitle {
    color: white;
    font-size: 20px;
}

.iconsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribeContainer {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formContainer {
    width: 40%;
}

.facebook, .facebook:hover {
    color: white;
    padding: 5px;
    font-size: 30px;
}

.twitter, .twitter:hover {
    color: white;
    padding: 5px;
    font-size: 30px;
}

.footerContainer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerForm {
    color: white;
}

.subscribeTitle {
    color: white;
    font-size: 30px;
    text-align: center;
}

.subBtn {
    background-color: white;
    color: #922D2D;
    border: 1px solid #922D2D;
    font-size: 20px;
}

.subBtnContainer {
    display: flex;
    justify-content: center;
}