.locationTitle {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 40px;
}

.locationContent {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.locationMap {
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px 8px gray;
    margin-bottom: 40px;
}

.locationAddress {
    font-size: 24px;
}

.locationMap iframe {
    width: 100%;
}

.addressTitle {
    font-size: 30px;
    font-weight: bold;
    color: #922D2D;
    padding-bottom: 10px;
}

.locationAddress {
    display: flex;
    justify-content: space-between;
}

.addressSLC, .addressLehi {
    padding-bottom: 20px;
}