.menuContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 200px;
}

.row {
    justify-content: center;
}

.card {
    padding: 10px;
    margin: 20px;
}

.card:hover {
    box-shadow: 5px 10px 8px gray;
}

.price {
    color: #922D2D;
    font-size: 30px;
}

.card-title {
    color: #922D2D;
    font-size: 24px;
}

.rowTitle {
    display: flex;
    justify-content: center;
}

.rowSubtitle {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: #922D2D;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}