.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.menuBurgers {

}

.burgerOptions, .burgerToppings {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.menuFries {

}

.menuChicken {

}

.menuDrinks {

}

.menuCones {

}

.menuShakes {

}

.menuTitle {
    display: flex;
    justify-content: space-between;
    color: #922D2D;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

h2 {
    margin: 0;
    padding-bottom: 20px;
}