.welcomeTitle {
    font-size: 30px;
    padding-bottom: 40px;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: center;
    width: 60%;
    box-shadow: 5px 10px 8px gray;
}

.carouselPic {
    height: 450px;
}