.welcomeTitle {
    padding-bottom: 40px;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: center;
    width: 60%;
    box-shadow: 5px 10px 8px gray;
}

.carouselPic {
    height: 450px;
}

.indexVideo {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videoTitle {
    padding-bottom: 30px;
}

.videoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

